{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exito.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="titulo-exitoso">Registro Exitoso</h1>
    <p class="mensaje-exitoso">El paquete ha sido registrado exitosamente en los transportes y pronto estara saliendo a su destino.</p>
    <a href="{{ url_for('inicio') }}" class="btn btn-primary btn-volver">Ir a la página de inicio</a>
</div>
{% endblock %}