{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exito.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Registro de Llegada Exitoso</h1>
    <p>Se ha registrado la llegada del transporte con los siguientes detalles:</p>
    <p>Número de Transporte: {{ transporte.numerotransporte }}</p>
    <p>Fecha y Hora de Salida: {{ transporte.fechahorasalida }}</p>
    <p>Fecha y Hora de Llegada: {{ transporte.fechahorallegada }}</p>
    <a href="{{ url_for('inicio') }}" class="btn btn-primary btn-volver">Ir a la página de inicio</a>
</div>
{% endblock %}