{%extends "layout.html" %}
{% block head %}
    {{ super() }}  <!--asegura que cualquier contenido definido en el bloque head de layout.html se mantenga-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{%block body%}
    <div class="container">  <!--Esto es un contenedor que puede tener estilos CSS, Div=Permite agrupar contenido. Asignamos clases--> 
        <h1>Bienvenidos</h1>
        <h1>Selecciona tu Rol</h1>
        <div class="options">
            <a href="{{ url_for('versucursales') }}" class="option"> <!--Hipervinculo que me lleva a la funcion ver sucursales-->
                <img src="{{ url_for('static', filename='img/6259363.png') }}" alt="Despachante"> <!--<a> se utiliza para crear un enlace a otra página web o recurso, y cualquier contenido que esté dentro de este elemento actuará como parte del enlace-->
                <p>Despachante</p>
            </a>
            <a href="{{ url_for('repartidor') }}" class="option">
                <img src="{{ url_for('static', filename='img/repartidor.png') }}" alt="Repartidor">
                <p>Repartidor</p>
            </a>
        </div>
    </div>

{%endblock%}