{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleopciones.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Funcionalidades del Despachante</h1>
    <h2>Sucursal seleccionada: {{ sucursal_id }}</h2>
    <div class="options">
        <a href="{{ url_for('registrar_paquete', sucursal_id=sucursal_id) }}" class="option">
            <img src="{{ url_for('static', filename='img/registrarpaquete.png') }}" alt="Registro de Paquete">
            <p>Registrar recepción de un Paquete</p>
        </a>
        <a href="{{ url_for('salida_transporte', sucursal_id=sucursal_id) }}" class="option">
            <img src="{{ url_for('static', filename='img/registrarsalida.png') }}" alt="Salida de Transporte">
            <p>Registrar salida de Transporte</p>
        </a>
        <a href="{{ url_for('llega_transporte', sucursal_id=sucursal_id) }}" class="option">
            <img src="{{ url_for('static', filename='img/registrarllegada.png') }}" alt="Llegada de Transporte">
            <p>Registrar Llegada de Transporte</p>
        </a>
    </div>
</div>
{% endblock %}