{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/salidatransporte.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Llegada de Transportes</h1>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    {% if transportessinllegar %}
        <form method="POST"><!--si no especificas el atributo action, el formulario se enviará de regreso a la misma URL desde la que se cargó la página-->
            <label for="transporte_id">Seleccionar Transporte:</label>
            <select name="transporte_id" id="transporte_id" required> <!--<select> (o select box) se usa cuando el usuario debe seleccionar una sola opción de una lista desplegable.-->
                {% for transporte in transportessinllegar %}
                <option value="{{ transporte.id }}">{{ transporte.numerotransporte }} - Salida: {{ transporte.fechahorasalida }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Confirmar Llegada">
    {% else %}
        <p>No hay transportes pendientes de llegada.</p>
    {% endif %}

    </form>
</div>
{% endblock %}