{%extends "layout.html" %}
{% block head %}
    {{ super() }}  <!--asegura que cualquier contenido definido en el bloque head de layout.html se mantenga-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylessucursales.css') }}">
{% endblock %}
{%block body%}
<div class="container">
    <h1>Lista de Sucursales</h1>
    <form action="{{ url_for('operar') }}" method="POST"> <!--Form=formulario--> <!--ACTION especifica a dónde se enviarán los datos del formulario cuando se envíe.-->
        <label for="sucursal">Selecciona una sucursal:</label> <!--FOR se usa para asociar la etiqueta con un elemento de formulario-->
        <select name="sucursale" id="sucursal">
            {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}">{{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Seleccionar">
    </form>
    
</div>


{%endblock%}

