.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo-error {
    color: #d9534f; /* Color de título de error */
}

.mensaje-error {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #337ab7; /* Color de fondo del botón */
    border: 2px solid #337ab7; /* Borde del botón */
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #286090; /* Color de fondo del botón al pasar el mouse */
}

.btn-volver {
    margin-top: 10px;
}